html {
  font-size: 15px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  color: #000;
}

.container{
  display: flex;
  max-width: 400px;
  background: #fff;
  padding: 4em 4em 2em;
  max-width: 400px;
  margin: 50px auto 0;
  box-shadow: 0 0 1em #222;
  border-radius: 2px;
}

@media screen and (min-width:320px) and (max-width:640px) {
  .container{
    display: flex;
    width: 85%;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;

  }
  
}


.form__item{
  margin-bottom: 10px;
}


.doc-form{
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;  
}


/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
  display: none;
  padding: .8em .5em;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
  display: none;
  padding: .8em .5em;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: rgb(0, 0, 0);
  font-family: "Helvetica", arial, sans-serif;
  font-size: 18px;
  border:1px solid #ecf0f1;
  background:#ecf0f1;
  padding:5px;
  display: inline-block !important;
  visibility: visible !important;
}

input[type="date"], focus {
  color: #95a5a6;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input[type="input"]{
  margin: 10px 5px 20px
}

.item__id{
  display: inline-block;
}

.type-id{
  width: 130px;
 
}