@media screen and (min-width:320px) and (max-width:640px) {
  .main_form{
    margin: 0 auto;
    margin-top: 80px;
    height: 400px;
    width: 85%;
    background-color: #11994f;
    border-radius: 10px;
    box-sizing: border-box; 
    padding: 20px;
  }
  
}