.container {
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    padding: 0 16px;
    margin: 0 auto
}


.form-legend {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: -0.5px
}

.form-input-code {
    width: 50px;
    height: 50px;
    min-width: 50px;
    background: #F0F0F0;
    border-radius: 50px;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    border: 0;
    margin: 0 4px
}

.photo-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
}

.photo-area .photo-item {
    margin-right: 10px;
    width: 50%
}

.photo-area .photo-item:last-child {
    margin-right: 0
}

.photo-area .photo-item-label {
    height: 100px;
    display: block;
    width: 100%;
    background-color: #FAFAFA;
    border: 1px dashed #0092A1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}
.photo-area .photo-item-label.fail {
    border: 2px dashed #a10010;
}

.photo-area .photo-item-label:before {
    content: '';
    width: 36px;
    height: 36px;
    background-image: url(./svg/photo.svg);
    background-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}
.photo-area .photo-item-label.loaderfront:before {
    content: '';
    width: 36px;
    height: 36px;
    /* background-image: url(../img/svg/loader.svg); */
    background-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}
.photo-area .photo-item-label.loaderback:before {
    content: '';
    width: 36px;
    height: 36px;
    /* background-image: url(../img/svg/loader.svg); */
    background-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}


.photo-area input {
    display: none
}

.photo-area .photo-item-title {
    margin-top: 12px;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #000000;
}

.registration-form-2 {
    height: calc(50vh - 100px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;

}

.registration-form-2 .btn {
    margin-top: auto
}


.mb32 {
    margin-bottom: 32px
}

.mb30 {
    margin-bottom: 30px
}

.mb26 {
    margin-bottom: 26px
}

.mb24 {
    margin-bottom: 24px
}

.mb20 {
    margin-bottom: 20px
}

.mb12 {
    margin-bottom: 12px
}

.index-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 100vh;
    min-height: -webkit-fill-available
}

.index-head {
    padding-top: 76px
}

.index-body {
    padding-bottom: 24px;
    margin-top: 40px
}



.registration-form-3 {
    padding: 100px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.registration-form-3 img {
    width: 80px;
    height: 80px;
    min-width: 80px;
    margin: 0 auto 20px auto
}

.registration-form-3 .form-legend {
    text-align: center
}

.form-relative {
    position: relative;
    display: block
}

.form-relative input[type=date] {
    display: block;
    text-align: left
}

.form-relative input {
    background-color: #F0F0F0;
    border: 2px solid #F0F0F0;
    border-radius: 8px;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    height: 56px;
    outline: none;
    width: 100%;
    letter-spacing: -0.5px;
    color: #000000;
    background-repeat: no-repeat;
    padding: 0 20px;
    display: block;
    text-align: left;
    background-position: right 20px center;
    -webkit-transition: 0.3s;
    transition: 0.3s
}

.form-relative input.input-error {
    background: #FEF1F2;
    border: 1px solid #CF1322
}



.form-relative input:focus {
    color: #0092A1;
    background-color: #fff;
    border: 2px solid #0092A1
}

.form-relative input:not(:-moz-placeholder-shown) {
    padding-top: 15px
}

.form-relative input:not(:-ms-input-placeholder) {
    padding-top: 15px
}

.form-relative input:not(:placeholder-shown) {
    padding-top: 15px
}

.form-relative input:not(:-moz-placeholder-shown) + .input-placeholder {
    top: 30%;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #8C8C8C
}

.form-relative input:not(:-ms-input-placeholder) + .input-placeholder {
    top: 30%;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #8C8C8C
}

.form-relative input:not(:placeholder-shown) + .input-placeholder {
    top: 30%;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #8C8C8C
}

.form-relative .input-placeholder {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 24px;
    -webkit-transition: 0.3s;
    transition: 0.3s
}
