body{
  margin: 0;
  padding: 0;
}

h1{
  font-family: "Roboto";
  text-align: center;
  margin-bottom: 40px;
}

.video-item{
  display: flex;
	margin: 0 auto;
}

.btn-items{
	text-align: center;
}

.time-Console{
	width: 95%;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  height: 120%;
	color: blue;
}

.demo-section {
  padding-bottom: 2rem;
  border-bottom: 2px solid;
}

.demo-section:last-child {
  border: none;
}

.video{
  margin-top: 10px;
  width: auto;
  height: 400px;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /*Safari and Chrome */
  -moz-transform:rotateY(180deg); /*Firefox*/
}

.video-status{
  text-align: center;
}

.timer-wrapper {
  display: flex;
  justify-content: center;
}

.timer {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  color: #aaa;
}

.value {
  font-size: 40px;
}

.info {
  max-width: 360px;
  margin: 40px auto 0;
  text-align: center;
  font-size: 16px;
}

.video-agreement_text{
  text-align: center;
}


/* Media Phone  */
@media screen and (min-width:320px) and (max-width:640px) {
	.video-item{
    width: 100%;
    background: rgb(255, 255, 255);
		height: 100%;
  }
  
}

/* Media Tablet  */
@media screen and (min-width:360px) and (max-width:1080px) {
	.video-item{
    width: 100%;
    background: rgb(255, 255, 255);
		height: 100%;
  }
  
}