body{
  margin: 0;
  padding: 0;
}

.camera-item{
	display: flex;
	margin: 0 auto;
}

.btn-items{
	text-align: center;
}

.time-Console{
	width: 95%;
    background: rgb(255, 255, 255);
    border-radius: 10px;
		height: 120%;
	color: blue;	
}

@media screen and (min-width:320px) and (max-width:640px) {
	.camera-item{
    width: 100%;
    background: rgb(255, 255, 255);
		height: 120%;
  }
  
}

html,
body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.demo-section {
  padding-bottom: 2rem;
  border-bottom: 2px solid;
}

.demo-section:last-child {
  border: none;
}

.video{
    margin-top: 10px;
    width: 500px;
    height: 500px;
    border: 1px solid #000;
  /* width: 90%;
  height: auto; */
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /*Safari and Chrome */
  -moz-transform:rotateY(180deg); /*Firefox*/
}

.video-status{
  text-align: center;
}
