
.demo-image-preview {
  display: flex;
  justify-content: center;
}

.demo-image-preview > img {
  width: 75%;
}


/* CAMERA STYLES */
.camera-text_info{
  display: inline-block;
  background-color: aquamarine;
  position: absolute;
  z-index: 1000;
  top: 65px;
  left:50%;
  transform:translate(-50%, -50%);
  font-size: 12px;
}

@media screen and (min-width:320px) and (max-width:640px) {
  .demo-image-preview {
    height: 75%;
  }
  .demo-image-preview-fullscreen > img{
    width: 75%;
  }
  .camera-item{
    width: 75%;
    height: auto;
    margin: 0 auto;
  } 
}

.btn-group-camera{                                                            
  text-align: center;
  margin-top: 15px;
  margin-right:20 17px;
}

.header{
  display: none;
}