.demo-image-preview {
  display: flex;
  justify-content: center;
}

.demo-image-preview > img {
  width: 90%;
}


@media screen and (min-width:320px) and (max-width:640px) {
  .demo-image-preview {
    width: 95%;
    height: 80%;
  }
  .demo-image-preview-fullscreen > img{
    width: 95px;
  }
}

/* fullscreen enable by props */
.demo-image-preview-fullscreen > img {
  width: 100vw;
  height:100vh;
}
.photo-send-btn{
  display: flex;
  justify-content: center;
}
.photo-reset-btn{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width:320px) and (max-width:640px) {

}