@media (max-width: 1200px){
  body{

  }
}

.camera-item{
  width: 100%;
  height: 80%;
}

.demo-image-preview {
  display: flex;
  justify-content: center;
}

.demo-image-preview > img {
  width: 90%;

}

@media screen and (min-width:320px) and (max-width:640px) {
  .demo-image-preview {
    height: 80%;
  }
  .demo-image-preview-fullscreen > img{
    width: 100%;
  }
}

.demo-image-preview-fulls creen > img {
  margin: 0 auto;
  width: 100vw;
  height:100vh;
}

.camera-container{
  margin: 0 auto;
}

.btn-group-camera{
  text-align: center;
}


react-html5-camera-photo>img, .react-html5-camera-photo > video {
  width: 80%
}