.header{
    display: flex;
    height: 120px;
    // overflow: hidden;
    background-color: #fff;
    outline: none;
    border-bottom: solid #bbb 0.5px;
}

.header__logo > a > img{
    margin-top: 44px;
    margin-left: 339px;
    width: 175px
}