.layout{
    display: grid;
    grid-template-rows: 62px 1fr;
}

.header{
    padding: 15px 0 19px 0;
    height: 50px;
    overflow: hidden;
    background-color: #fff;
    margin: 0;
    outline: none;
    color: #fff;
    border-bottom: solid #bbb 0.5px
}

.header__logo > a > img{
    justify-content: center;
    margin-left: 40px;
    width: 160px
}

.footer{
    width: 100%;
    background: #11994f;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
}